@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');                                            
                                                                                                                           
body {                                                                                                                     
  margin: 0;                                                                                                               
  font-family: 'Creepster', cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',                    
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',                                                    
    sans-serif;                                                                                                            
  -webkit-font-smoothing: antialiased;                                                                                     
  -moz-osx-font-smoothing: grayscale;                                                                                      
  background-color: #000000; /* Black background */                                                                        
  color: #FFFFFF; /* White default font color */                                                                           
}                                                                                                                          
                                                                                                                           
code {                                                                                                                     
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',                                                    
    monospace;                                                                                                             
}                                                                                                                          
                                                                                                                           
/* General link styling - can be overridden by more specific selectors */                                                  
a {                                                                                                                        
  color: #D8BFD8; /* Light purple for links */                                                                             
  text-decoration: none; /* Optional: remove underline from links */                                                       
}                                                                                                                          
                                                                                                                           
a:hover {                                                                                                                  
  color: #FFFFFF; /* White on hover, for example */                                                                        
}                                                                                                                          
        
